/*	================================================

	Author:	Rebecca Putinski
	UWID:	20271463
	Class:	CS348 Section 3
	
	This file:
		Style for the whole thing!
		
	================================================
*/

body {
	margin:0;
}

div#wrap {
	margin:20px auto;
	width:640px;
	padding:30px 30px 0 30px;
	background:#fdfdfd;
	border:1px dotted #ccc;
}
	div#wrap h1 {
		text-align:center;
		font-family:Verdana, serif;
		font-size:40px;
		color:#F5AD03;
		background:#FFEDB7;
		border:1px solid #FCC646;
		font-weight:normal;
		margin:0; padding:30px 10px;
		font-variant:small-caps;
	}
	div#wrap hr {
		height:2px;
		border:0;
		background:#666;
		margin:0 0 10px 0;
	}

div#menu {
	height:50px;
	margin:20px 0 0 0;
	width:100%;
}
	div#menu ul {
		list-style:none;
		margin:0; padding:0;
	}
		div#menu ul li {
			width:160px;
			float:left;
		}
		div#menu ul li a {
			text-decoration:none;
			font-family:Verdana, sans-serif;
			font-size:18px;
			display:block;
			color:#777;
			background-color:#f5f5f5;
			line-height:50px;
			text-align:center;
		}
		div#menu ul li a:hover {
			background:#ddd;
		}
		div#menu ul li.current a {
			background-color:#89ACFF;
			color:#213D80;
		}

div#body {
	clear:left;
	margin:10px 0;
}
	div#body h2 {
		font-family:Verdana, serif;
		font-size:25px;
		font-variant:small-caps;
		font-weight:normal;
		color:#555;
		margin:25px 0 10px 0;
	}
	div#body hr {
		background:#aaa;
	}
	div#body p {
		font-family:verdana,sans-serif;
		font-size:14px;
		line-height:19px;
		color:#333;
	}
		div#body p a {
			color:#444;
			text-decoration:none;
			background-color:#ddd;
		}
		div#body p a:hover {
			background-color:#bbb;
			color:#111;
		}
		div#body p.toplink {
			text-align:right;
			padding:0; margin:5px 0 0 0;
			font-size:10px;
			text-transform:uppercase;
		}
			div#body p.toplink a {
				padding:3px;
				background:#ddd;
				color:#777;
				text-decoration:none;
				border:1px solid #bbb;
			}
			div#body p.toplink a:hover {
				background:#ccc;
			}
		div#body p.notice {
			padding:5px;
			background:#F2D65E;
			border:1px solid #F1B93B;
			color:#806506;
		}
			div#body p.notice:before {
				content:"Note: ";
			}
		div#body p.success {
			padding:5px;
			text-align:center;
			background:#CAE8A2;
			color:#235930;
			border:1px solid #44AA55;
		}
		div#body p b.positive {
			color:#A40802;
		}
		div#body p b.negative {
			color:#235930;
		}
		div#body p.error {
			color:#A40802;
			border:1px solid #C62626;
			padding:5px;
			background:#DC7066;
		}
			div#body p.error:before {
				content:"Error: ";
			}
	div#body ul.submenu {
		list-style:none;
		margin:0; padding:0;
	}
		div#body ul.submenu li {
			float:left;
		}
		div#body ul.submenu li a {
			display:block;
			margin:0 5px 0 0;
			padding:5px;
			text-decoration:none;
			color:#666;
			font-family:verdana, sans-serif;
			font-size:14px;
			background-color:#eee;
		}
		div#body ul.submenu li a:hover {
			color:#268021;
			background:#ABED89;
		}
	
	div#body form {
		border:1px solid #ddd;
		border-bottom:3px solid #ddd;
		margin:0;
		padding:0 10px 10px 10px;
		background:#fff;
	}
	div#body form label {
		float:left;
		font-size:12px;
		min-width:250px;
		text-align:right;
		margin:8px 10px 0 0;
	}
	div#body form label:after {
		content:":";
	}
	div#body form input,
	div#body form select,
	div#body form textarea{
		min-width:250px;
		margin:5px 0 0 0px;
		padding:5px;
		font-family:Verdana, sans-serif;
	}
	div#body form textarea {
		min-height:120px;
	}
	div#body form input:focus,
	div#body form select:focus,
	div#body form textare:focus {
		background:#FFFFCF;
	}
	div#body table {
		width:100%;
		border-collapse:collapse;
		border:1px solid #ddd;
	}
		div#body table tr.odd {
			background:#eee;
			margin:0; padding:0;
		}
			
		div#body table th,
		div#body table td {
			padding:4px;
			border:1px solid #ddd;
			font-family:Verdana, sans-serif;
			font-size:10px;
		}
			div#body table td a {
				display:block;
				text-align:center;
				color:#235930;
				font-weight:bold;
				text-decoration:none;
			}
			div#body table td a:hover {
				color:#ccc;
			}
		div#body table th {
			font-size:12px;
			background:#eee;
		}

div#footer {
	font-family:Verdana,sans-serif;
	font-size:16px;
	color:#888;
	height:40px;
	line-height:40px;
	text-align:center;
	margin:20px 0 0 0;
	background:#fff;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
	border-left:1px solid #ccc;
}